body {
  font-family: "Pacifico", cursive;
  background-color: #ce2c4a;
  color: #efe5df;
  margin: 0;
}

.Title {
  background-color: #efe5df;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title img {
  max-width: 150px;
}

.Navbar {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  color: #ce2c4a;
}

.Hero {
  position: relative;
}

.Hero img {
  width: 100%;
  height: auto;
  display: block;
}

#Hero-image-bottom {
  background-color: #efe5df;
  width: 100%;
  height: 30px;
}

#Hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the text */
  font-size: 8vw;
  font-weight: bold;
  text-shadow: 7px 4px 0px #ce2c4a; /* offset-x | offset-y | blur-radius | color */
}

.Directions {
  text-align: center;
  font-size: 2vh;
}

.Directions img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.Options {
  display: flex;
  justify-content: center;
}

button {
  background: none;
  border: none;
}

.Container {
  position: relative;
  max-width: 300px;
  max-height: 300px;
  margin: 5px;
}

.Card-background {
  width: 100%;
  height: 100%;
  object-fit: contain; /*Makes it so image aspect ratio doesnt change*/
}

.Card-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -49%
  ); /*Moves the image left by 50% and down by 49%*/
  width: 80%;
}

.Card-text {
  position: absolute;
  bottom: -80px;
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-family: "Pacifico", cursive;
  color: #efe5df;
}

.Ingredients-list {
  width: 100%;
  background-color: #efe5df;
  margin-top: 100px;
  padding-bottom: 25px;
  color: #ce2c4a;
  font-size: 30px;
  text-align: center;
}

ul {
  list-style-type: none;
  font-family: "Raleway", sans-serif;
}

.Ingredients-list h2 {
  padding-top: 10px;
  color: #ce2c4a;
  text-align: center;
  font-size: 3vh;
}

@media (max-width: 800px) {
  .Directions h2 {
    font-size: 25px;
  }
  .Directions img {
    max-width: 200px;
  }
}