
body {
  font-family: 'Pacifico', cursive;
  background-color: #CE2C4A;
  color:#EFE5DF;
  margin: 0;
}

.Title{
  background-color: #EFE5DF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title img {
  max-width: 150px;
}

.Navbar {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  color: #CE2C4A; 
}

.Hero {
  position: relative;
}

.Hero img{
  width: 100%;
  height: auto;
  display: block;
}

#Hero-image-bottom {
  background-color: #EFE5DF;
  width: 100%;
  height: 30px;
}

#Hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the text */
  font-size: 8vw; 
  font-weight: bold;
  text-shadow: 7px 4px 0px #CE2C4A; /* offset-x | offset-y | blur-radius | color */
}

.Directions {
  text-align: center;
  font-size: 2vh;
}

.Directions img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.Options {
  display: flex;
  justify-content: center;
}

.Container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.Card-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain; /*Makes it so image aspect ratio doesnt change*/
}

.Card-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -49%); /*Moves the image left by 50% and down by 49%*/
  width: 80%;
}

.Card-text {
  position: absolute;
  bottom: -80px;
  width: 100%;
  font-size: 30px;
  text-align: center;
}


@media (max-width: 800px) {
  .Directions h2 {
    font-size: 25px;
  }
  .Directions img {
    max-width: 200px;
  }
  .Card-text {
    bottom: -10%;
    font-size: 25px;

  }
}

@media (max-width: 600px) {
  .Card-text {
    bottom: 15px;
  }
}

